.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header_right {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}