.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .count_inp {
        width: 30px!important;
        height: 23px!important;
        border-radius: 6px;
    }
}

